body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  height: 65px;
  padding: 10px;
  background: #ff9071;
}
.nav-icon {
  width: 24px;
  fill: #fff;
  padding-top: 15px;
  padding-left: 10px;
  cursor: pointer;
}
.close-icon {
  width: 20px;
  cursor: pointer;
}
.page {
  width: 100%;
  height: calc(100vh - 86px);
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  padding: 10px 20px;
  background: #0d354e;
  color: #fff;
  cursor: pointer;
}
.sidebar,
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: -17px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s;
}
.modal-box {
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  width: 220px;
  height: 300px;
  background: #fff;
  position: relative;
}

.sidebar-open,
.modal-open {
  display: block;
}
.sidebar ul {
  padding: 0px;
  height: 100%;
  width: 220px;
  background: #fff;
  position: relative;
}
.sidebar ul li {
  list-style: none;
  padding: 7px 10px;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
